<div class="footer">
    <div class="pull-right">
        "They're easy enough to find. Question is, are you sure you want to find one?"
    </div>
    <div>
        <strong>Copyright</strong> MTG Archive 2017
    </div>
</div>
